# Dependencies
node_modules/

# Expo & Build
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment Variables
.env
.env.*
*.env
!.env.example
!.env*.example

# System & TypeScript
.DS_Store
*.pem
*.tsbuildinfo

# Generated Native Folders
/ios
/android
